<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="../Navbar/Navbar.css" />
    <link rel="stylesheet" href="LandingPage.css" />
  </head>
  <body>
    <!-- There should be header here -->
    <main>
      <header>
        <nav>
          <ul>
            <li><a href="../Landing_Page/LandingPage.html">Home</a></li>
            <li><a href="#">Appointments</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a href="../Login/Login.html">Login</a></li>
            <li><a href="../Sign_Up/Sign_Up.html">Sign Up</a></li>
          </ul>
        </nav>
      </header>
      <section class="hero">
        <div class="hero-content">
          <h1>Your Health<br />Our Responsibility</h1>
          <p>
            Make an appointment with some great doctor easier. Only need a few
            clicks and you’re done.
          </p>
          <button class="hero-content_btn">Get Started</button>
        </div>
        <div class="hero-image">
          <img src="../assets/images/doctor_landing.png" alt="Doctor" />
        </div>
      </section>
    </main>
  </body>
</html>
